{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<!-- <body>
  <nav class="navbar navbar-dark bg-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'top' %}">トップページ</a>
      </li>
      {% if request.user.is_authenticated %}
      <a class="nav-link" href="{% url 'mypage' request.user.id %}">マイページ</a>
      <a class="nav-link" href="{% url 'users_logout' %}">ログアウト(ユーザー用)</a>
      {% else %}
      <a class="nav-link" href="{% url 'users_login' %}">ログイン(ユーザー用)</a>
      {% endif %}
      {% block nav_item %}{% endblock %}
    </ul>
  </nav> -->

  <nav class="navbar navbar-expand-sm navbar-light bg-light mt-3 mb-3 border border-warning"">
          <div class="collapse navbar-collapse">
              <ul class="navbar-nav">
                <li>
                  <a class="navbar-brand" href="{% url 'top' %}">　Olyful</a>
                </li>

                  {% if request.user.is_authenticated %}
                  <li class="navbar-text navbar-right">{{ user.username }} さん でログイン中　　</li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'mypage' request.user.id %}">マイページ</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'shoppage' %}">店舗ページ</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
                  </li>

                  {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">ログイン</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'accounts:app_signup' %}">会員登録</a>
                  </li>
                  {% endif %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'accounts:search' %}">検索</a>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'traininfo' %}">運行情報</a>
                  </li>
              </ul>
          </div>
      </nav>


  <div class="container">
    <div class="card">
      <div class="container">
        {% block jumbotron %}{% endblock %}
      </div>
    </div>
  </div>


</body>
</html>
