{% extends 'base/base.html' %}
{% block title %}Mypage{% endblock %}

{% block jumbotron %}
</br>

<h1>編集ページ</h1>
<form action="" method="post">
    {% csrf_token %}
    <p><label for="username_input">ユーザー名</label></p>
    <p><input type="text" name="username" id="username_input" value="{{ user.username }}"></p>
    <p><label for="email">メールアドレス</label></p>
    <p><input type="text" name="email" id="email_input" value="{{ user.email }}"></p>
    <p><button type="submit">更新</button></p>
</form>

{% endblock %}