{% extends 'base/base.html' %}
{% block title %}Mypage{% endblock %}

{% block jumbotron %}
</br>
<h2>こんにちは　@{{ user.username }}さん</h2>
</br>

<table class="table">
    <tbody>
      <tr>
        <th>ユーザー名</th>
        <td>{{ user.username }}</td>
      </tr>

      <tr>
        <th>メールアドレス</th>
        <td>{{ user.email }}</td>
      </tr>
    </tbody>
</table>

<p>プロフィールの編集は <a href="{% url 'edit' user.pk %}">こちら</a></p>

{% endblock %}