{% extends 'base/base.html' %}
{% block title %}検索結果{% endblock %}
{% load static %}

{% block jumbotron %}
<h1>Search</h1>
<br />
<form action="" method="POST">
  {{ formset.management_form }}
  {% for form in formset %}
  {{ form }}
  {% endfor %}
  {% csrf_token %}
  <button class="btn btn-warning" type="submit">検索</button>
</form>

<br />
<br />

<div class="card-deck row">
  {% for item in shop_list %}
  <div class="col-sm-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{{item.thumbnail.url }}">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'accounts:detail' item.pk %}">{{ item.shop_name }}</a><br /></h5>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
