{% extends 'base/base.html' %}
{% block title %}店舗ページ{% endblock %}
{% load static %}

{% block jumbotron %}
<h1>ShopPage</h1>

<img src="{{ user.top.url }}">
<br />

<table class="table">
    <tbody>
      <tr>
        <th>店名</th>
        <td>{{ user.shop_name }}</td>
      </tr>

      <tr>
        <th>住所</th>
        <td>{{ user.address }}</td>
      </tr>

      <tr>
        <th>連絡先</th>
        <td>{{ user.phone }}</td>
      </tr>

      <tr>
        <th>メニュー</th>
        <td>{{ user.menu }}</td>
      </tr>

      <tr>
        <th>特典</th>
        <td>{{ user.special }}</td>
      </tr>
    </tbody>


    <ul>
      <li>編集</li>
      <li>削除</li>
    </ul>

{% endblock %}
