{% extends 'base/base.html' %}
{% block title %}TOP{% endblock %}
{% load static %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% endblock head %}

{% block jumbotron %}
<br>

<div class="card-deck row">
  {% for item in object_list %}
  <div class="col-sm-6">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="{{item.thumbnail.url }}">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'accounts:detail' item.pk %}">{{ item.shop_name }}</a><br /></h5>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
