{% extends 'base/base.html' %}
{% block title %}TrainInfomation{% endblock %}
{% load static %}

{% block jumbotron %}
</br>
<h2>運行情報 関東</h2>
<p><font color="#ff0000">{{ time }}</font></p>
</br>
<h3>現在運行情報のある路線</h3>
<p class="ml-sm-3"><b><font color="0000ff">{{ trouble_info | linebreaksbr }}</font></b></p>
</br>
<h3>関東の主要鉄道</h3>
<p class="ml-sm-3"> {{major_line | linebreaksbr}} </p>
<br>
<input class="btn btn-outline-secondary" value="最新情報に更新" onclick="window.location.reload();" />
<br />
<br />
{% endblock %}
