{% extends 'base/base.html' %}
{% block title %}Login{% endblock %}
{% load static %}


{% block jumbotron %}
  <h1>Login</h1>
  <br />
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-warning" type="submit" value="ログイン">
  </form>
  <br />
{% endblock %}
