{% extends 'base/base.html' %}
{% block title %}店舗情報登録{% endblock %}
{% load static %}

{% block jumbotron %}
<h1>Shop Infomation</h1>
<table class="table">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <tbody>
      <tr>
        <th>{{ form.shop_name.label_tag }}</th>
        <td>{{ form.shop_name }}</td>
      </tr>

      <tr>
        <th>タグ</th>
        <td>{{ form.tag }} <a href="{% url 'accounts:create_tag' %}">add new TAG</a></td>
      </tr>

      <!-- <tr>
        <th>最寄りの会場</th>
        <td>{{ form.get_status_display }}</td>
      </tr>

      <tr>
        <th>{{ form.station.label_tag }}</th>
        <td>{{ form.station }}</td>
      </tr> -->

      <tr>
        <th>{{ form.address.label_tag }}</th>
        <td>{{ form.address }}</td>
      </tr>

      <tr>
        <th>{{ form.phone.label_tag }}</th>
        <td>{{ form.phone }}
        {{ form.phone.error }}</td>
      </tr>

      <tr>
        <th>{{ form.menu.label_tag }}</th>
        <td>{{ form.menu }}</td>
      </tr>

      <tr>
        <th>{{ form.special.label_tag }}</th>
        <td>{{ form.special }}</td>
      </tr>

      <tr>
        <th>{{ form.shop_image.label_tag }}</th>
        <td>{{ form.shop_image }}</td>
      </tr>
    </tbody>

    <tr>
      <td><input class="btn btn-warning" type="submit" value="登録">
        <input class="btn btn-outline-secondary" type="reset" value="リセット"></td>
    </tr>

  </form>
</table>
</body>
{% endblock %}
