{% extends 'base/base.html' %}
{% block title %}{{ object.shop_name }}{% endblock %}
{% load static %}

{% block jumbotron %}
<h1>{{ object.shop_name }}</h1>
  <br />
  <img src="{{ object.top.url }}">
  <br />
  <br />
  <p>
    タグ: {% for tag in object.tag.all %}
    {{ tag }}
    {% endfor %}
  </p>

  <table class="table">
      <tbody>
        <tr>
          <th>住所</th>
          <td>{{ object.address }}</td>
        </tr>

        <tr>
          <th>連絡先</th>
          <td>{{ object.phone }}</td>
        </tr>

        <tr>
          <th>メニュー</th>
          <td>{{ object.menu }}</td>
        </tr>

        <tr>
          <th>特典</th>
          <td>{{ object.special }}</td>
        </tr>
      </tbody>

      {% if request.user.id == object.user.id %}
      <p><ul>
        <li>編集</li>
        <li>削除</li>
      </ul></p>
      {% endif %}


  {% endblock %}
