{% extends 'base/base.html' %}
{% block title %}SignUp{% endblock %}
{% load static %}

  {% block jumbotron %}
  <h1>店舗登録</h1>
  <p>ユーザーの方は<a href="{% url 'accounts:app_signup' %}">こちら</a></p><br />

  <table class="table">
    <form method="POST" action="">
      {% csrf_token %}
      <tbody>
        <tr>
          <th>ユーザー名</th>
          <td>{{user_form.username}}
            {{user_form.username.errors}}</td>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <td>{{user_form.email}}
            {{user_form.email.errors}}</td>
        </tr>

        <tr>
          <th>パスワード</th>
          <td>{{user_form.password1}}
            {{user_form.password1.errors}}</td>
        </tr>

        <tr>
          <th>パスワード(確認)</th>
          <td>{{user_form.password2}}
            {{user_form.password2.errors}}</td>
        </tr>
      </tbody>

      <tr>
        <td><input class="btn btn-warning" type="submit" value="登録">
            <input class="btn btn-outline-secondary" type="reset" value="リセット">
        </td>
      </tr>

    </form>
  </table>
</body>
{% endblock %}
